body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
    display: grid;
    grid-template-areas:
        "header"
        "searchbar"
        "main"
        "footer";
    grid-template-columns: 100%;

}

header {
    grid-area: header;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

header .btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;

}

header ul {
    display: none
}



nav {
    grid-area: searchbar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 30px;


}

main {
    grid-area: main;
    padding: 2rem
}


.galeria {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
}

.galeria .card {
    text-align: center;
    border: 1px solid black;
}

.galeria .cardtext {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;

}

.galeria .cardtext button {
    background: black;
    color: white;
    font-size: medium;
    cursor: pointer;
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 350px;
    object-fit: cover
}

footer {


    grid-area: footer;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
}

@media (min-width: 768px) {
    .btn {
        display: none;
    }

    header ul {
        display: flex;
        list-style-type: none;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        margin: 10px;
        list-style-type: none;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 992px) {
    .layout {
        grid-template-areas:
            "header searchbar"
            "header main"
            "header footer";
        grid-template-columns: 15% 1fr;

    }



    nav {
        display: flex;
        justify-content: center;
        padding: 100px;

    }


    header {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        position: fixed;
        height: 100vh;
        width: 13rem;
        cursor: pointer;

    }

    header ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10rem;
        margin: 2rem 0 4rem 0;
        color: white;
        list-style-type: none;

    }

    header ul li {
        margin-bottom: 1rem;
    }

    header ul li a {
        font-size: 1.25rem;
        color: white;
    }

    .galeria {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .galeria .cardtext {
        display: flex;
        justify-content: space-around;
    }




}